@media screen and (max-width: 767px) {
  .page-top .navbar-top .nav-container {
    width: 100%; }
    .page-top .navbar-top .nav-container .topnav-rigth .hidden-x {
      display: none !important; }
    .page-top .navbar-top .nav-container > .navbar li.hidden-x {
      display: none !important; } }
